<section #bar1 id="content">
  <div class="con">
    <div class="trends">
      <h1>Most trending leagues</h1>
      <ul>
        <li><a href="#"><i class="fa fa-futbol-o"></i> English Premier League</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> Spanish La Liga</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> Italian Serie A</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> German Bundesliga</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> French Ligue 1</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> Eredivisie</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> Scotish Premier League</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> Nigerian Premier League</a></li>
        <li><a href="#"><i class="fa fa-futbol-o"></i> ABSA Premier League</a></li>
      </ul>
    </div>
  </div>
</section>
