<div class="posts">
  <div class="con">
    <div class="post">
      <div class="profile-pic">
        <img [routerLink]="['/profile']" src="https://pbs.twimg.com/profile_images/1048247942006689792/eLkgGbom_reasonably_small.jpg" alt="Image">
      </div>
      <div class="post-details">
        <div class="details">
          <div class="user-name">
            <p>Username </p>
          </div>
          <div class="streaks">
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">L</span>
          </div>
        </div>
        <div class="text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum repudiandae sed beatae maxime, tenetur veritatis doloribus explicabo consequatur vitae.</p>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="icons">
      <i class="fa fa-heart"> 50</i>
      <i class="fa fa-comment"> 1435</i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>
  
  <div class="con">
    <div class="post">
      <div class="profile-pic">
        <img [routerLink]="['/profile']" src="https://pbs.twimg.com/profile_images/1048247942006689792/eLkgGbom_reasonably_small.jpg" alt="Image">
      </div>
      <div class="post-details">
        <div class="details">
          <div class="user-name">
            <p>Username </p>
          </div>
          <div class="streaks">
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">L</span>
          </div>
        </div>
        <div class="text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum repudiandae sed beatae maxime, tenetur veritatis doloribus explicabo consequatur vitae.</p>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="icons">
      <i class="fa fa-heart"> 50</i>
      <i class="fa fa-comment"> 1435</i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>

  <div class="con">
    <div class="post">
      <div class="profile-pic">
        <img [routerLink]="['/profile']" src="https://pbs.twimg.com/profile_images/1048247942006689792/eLkgGbom_reasonably_small.jpg" alt="Image">
      </div>
      <div class="post-details">
        <div class="details">
          <div class="user-name">
            <p>Username </p>
          </div>
          <div class="streaks">
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">L</span>
          </div>
        </div>
        <div class="text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum repudiandae sed beatae maxime, tenetur veritatis doloribus explicabo consequatur vitae.</p>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="icons">
      <i class="fa fa-heart"> 50</i>
      <i class="fa fa-comment"> 1435</i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>

  <div class="con">
    <div class="post">
      <div class="profile-pic">
        <img [routerLink]="['/profile']" src="https://pbs.twimg.com/profile_images/1048247942006689792/eLkgGbom_reasonably_small.jpg" alt="Image">
      </div>
      <div class="post-details">
        <div class="details">
          <div class="user-name">
            <p>Username </p>
          </div>
          <div class="streaks">
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">L</span>
          </div>
        </div>
        <div class="text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum repudiandae sed beatae maxime, tenetur veritatis doloribus explicabo consequatur vitae.</p>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="icons">
      <i class="fa fa-heart"> 50</i>
      <i class="fa fa-comment"> 1435</i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>

  <div class="con">
    <div class="post">
      <div class="profile-pic">
        <img [routerLink]="['/profile']" src="https://pbs.twimg.com/profile_images/1048247942006689792/eLkgGbom_reasonably_small.jpg" alt="Image">
      </div>
      <div class="post-details">
        <div class="details">
          <div class="user-name">
            <p>Username </p>
          </div>
          <div class="streaks">
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">W</span>
            <span class="outcome">L</span>
            <span class="outcome">L</span>
          </div>
        </div>
        <div class="text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum repudiandae sed beatae maxime, tenetur veritatis doloribus explicabo consequatur vitae.</p>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="icons">
      <i class="fa fa-heart"> 50</i>
      <i class="fa fa-comment"> 1435</i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>
</div>
