<section id="content">
    <div class="con">
      <div class="standing">
        <h1>Latest Standings</h1>
        <table>
          <thead>
            <th>S/N</th>
            <th>Name</th>
            <th>P</th>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>5.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>6.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>7.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>8.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>9.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
            <tr>
              <td>10.</td>
              <td>Username</td>
              <td>9</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </section>
