main {
  width: 100%;
  height: 90.6vh;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
}

#main-content {
  width: 50%;
  height: 90.6vh;
  overflow: scroll;
  text-align: left;
  border: 1px solid grey;
  border-width: 0 1px 0 1px;
}

#main-content::-webkit-scrollbar {
  display: none;
}

#main-content .con {
  border-radius: 4px;
  margin: .5rem 0;
  background: #fff;
}

/* Status Post */
#main-content .con .status-div {
  display: flex;
  justify-content: space-between;
}

#main-content .con .status-div .dp {
  width: 8%;
  padding: .5rem;
}

#main-content .con .status-div .dp:hover {
  cursor: pointer;
}

#main-content .con .status-div .dp img {
  width: 100%;
  border-radius: 50%;
}

#main-content .con .status-div .field {
  width: 90%;
}

#main-content .con .status-div .field form {
  width: 100%;
}

#main-content .con .status-div .field form textarea {
  width: 90%;
  resize: vertical;
  border: 0;
  font-size: 20px;
  padding: 1rem;
}

#main-content .con .status-div .field form textarea:focus {
  outline: #fff;
}

#main-content .con .status-div .field form .btns-div {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

#main-content .con .status-div .field form .btns-div i {
  font-size: 20px;
  color: #1975d2;
}

#main-content .con .status-div .field form .btns-div .action-btn .post-btn {
  padding: .3rem 1rem;
  background: #1975d2;
  color: #fff;
  border-radius: 40%;
  font-size: 20px;
  font-weight: bold;
}

#main-content .con .status-div .field form .btns-div .action-btn .post-btn:hover {
  cursor: pointer;
}

#main-content .con .status-div .field form .btns-div .action-btn .post-btn:focus {
  outline: #fff;
}

#main-content .con .status-div form #file {
  display: none;
}

#main-content .con .status-div form label:hover {
  cursor: pointer;
}

/* Posts */

#main-content .post {
  width: 100%;
  display: flex;
  padding: 1rem 0 0 0;
  align-items: flex-start;
}

#main-content .con:hover {
  background: #dde3e4ed;
}

.details {
  display: flex;
  align-items: center;
}

#main-content .post .post-details a {
text-decoration: none;
color: #000;
}

#main-content .post .user-name {
  margin: 0 .8rem;
  width: 37%;
}

#main-content .post .profile-pic img {
  width: 63%;
  border-radius: 50%;
  margin: .5rem;
}

#main-content .post .profile-pic img:hover {
  cursor: pointer;
}

.streaks .outcome {
  display: inline-block;
  width: 30px;
  text-align: center;
  background: green;
  margin: .035rem;
}

#main-content .icons {
  display: flex;
  justify-content: space-around;
  color: #1975d2;
  padding: .5rem 0 1rem 0;
}

.icons i:hover {
  cursor: pointer;
}


/* Sidebar */

#sidebar1, #sidebar2 {
  width: 25%;
  height: 90.6vh;
  overflow: scroll;
  background: #fff;
}

#sidebar1::-webkit-scrollbar {
  display: none;
}

#sidebar1 .con .trends {
  padding: .5rem 1rem;
}

#sidebar1 .con .trends h1 {
  color: #1975d2;
  font-weight: bold;
}

#sidebar1 .con .trends ul {
  padding: 0;
  margin: 0;
}

#sidebar1 .con .trends ul li {
  /* width: 100%; */
  list-style: none;
  padding: 1rem 0;
}

#sidebar1 .con .trends ul li i {
  color: #1975d2;
}

#sidebar1 .con .trends ul li a {
  text-decoration: none;
  color: #000000;
  font-size: large;
  font-weight: bold;
}

/* Sidebar2 */

#sidebar2 .standing {
  padding: .5rem;
}

#sidebar2 .standing h1 {
  color: #1975d2;
}

#sidebar2 .standing table {
  width: 100%;
  text-align: center;
}

#sidebar2 .standing table th {
  background: #1975d2;
  color: #fff;
}

#sidebar2 .standing table th, tr {
  border: transparent;
}

#sidebar2 .standing table td {
  padding: .7rem 0;
}

#sidebar2 .standing tr:nth-child(odd) {
  background: #cccccc5c;
}

#sidebar2 .standing tr:nth-child(even) {
  background: #cccccc26;
}

#main-content .con#nohover:hover {
  background: #fff;
}

@media (max-width: 768px) {
  #sidebar1 {
    display: none;
  }

  #sidebar2 {
    width: 30%;
  }

  #main-content {
    width: 70%;
  }
}

@media (max-width: 415px) {
  #sidebar2 {
    display: none;
  }

  #main-content {
    width: 95%;
    margin: auto;
    border: none;
  }

  #main-content .streaks .outcome {
    /* display: inline-block; */
    width: 5%;
    text-align: center;
    /* font-size: medium; */
    /* font-weight: bold; */
    background: green;
    margin: .035rem;
    padding: 0 0.2rem;
  }

  .spacer {
    display: none;
  }

}
