mat-card{
  margin: .5rem;
}

.post-btn {
  background: #1a75d2;
  color: #fff;
}

.grey {
  background: grey !important;
}

.example-card mat-card-content:hover {
  cursor: pointer;
}

mat-card-content a {
  color: white;
}

@media screen and (max-width: 768px) {
  #side2 {
    display: none;
  }

  #side1 {
    display: none;
  }
}
